
<h2>Blogs List for Tag: {{ tag_name }}</h2>
<ul id="blog-list"></ul>


<script>
  function getCookie(name) {
    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
    return cookieValue ? cookieValue.pop() : '';
  }

  // Fetch user data from the API endpoint
  fetch('/api/v1/blogs/tag/{{ tag_id }}')
      .then(response => response.json()) // Parse response as JSON
      .then(data => {
          // Process the data and update the UI
          const blogList = document.getElementById('blog-list');
          data.forEach(blog => {
              const listItem = document.createElement('li');
              const link = document.createElement('a');
              link.href = `/blogs/${blog.id}/`;
              link.textContent = `User: ${blog.user}  Title: ${blog.title_text}`;
              listItem.appendChild(link);
              blogList.appendChild(listItem);
          });
      })
      .catch(error => console.error('Error fetching blog data:', error));
</script>


